//переменные
    
$green: #1a9f29
$Noto: "Noto Serif"

body
    margin: 0
    padding: 0

//блок header
// - logo ( логотип + название )
// - text ( блок с ссылками на ?категории? )
// - position ( расположение блоков location + phone )
//   - location ( ?адреса? )
//   - phone ( ?номер телефона? )

.header 
    width: 1130px
    display: grid
    grid-template-columns: minmax(auto ,190px) minmax(auto, 400px) minmax(auto, 290px)
    grid-template-rows: 45px
    grid-column-gap: 25px
    border-bottom: 1px solid $green
    margin: 20px auto
    margin-bottom: 0
    height: 45px
    padding-bottom: 20px
    justify-items: center
    .logo
        display: grid
        grid-template-columns: 50px 140px
        height: 45px
        span 
            height: 45px    
            img 
                width: 45px
                height: 45px                 
        p
            padding: 7px
            margin: 0
            width: 130px
            height: 23px
            color: #1a9f29
            font-family: $Noto
            font-size: 30px
            font-weight: 700
            text-transform: uppercase
    .text
        grid-gap: 250px
        width: 400px
        padding: 5px 0 5px 0
        ul 
            margin: 0
            padding: 0
            display: grid
            grid-template-columns: repeat(3, auto)
            li:first-child
                list-style: none
            li 
                color: $green
                padding: 0
                margin: 0
                a 
                    color: #555555
                    text-decoration: none
    .position
        display: grid
        grid-template-columns: 120px 150px
        grid-gap: 20px

        .location
            display: grid
            grid-template-columns: 20px 100px
            img 
                padding-top: 15px
                height: 15px
                width: 20px
                padding-right: 7px
            a 
                padding-top: 15px
                width: 98px
                height: 16px
                color: #555555
                font-family: Roboto
                font-size: 16px
                font-weight: 300
                text-decoration: underline
        .phone
            display: grid
            grid-template-columns: 20px 130px
            grid-template-rows: 20px
            padding-top: 15px
            img 
                height: 20px
                width: 20px
                padding-right: 7px
            a   
                text-decoration: none
                width: 139px
                height: 17px
                color: #555555
                font-family: Roboto
                font-size: 16px
                font-weight: 700
                font-family: "Roboto Light"
                font-weight: 300
                font-family: Roboto
                font-weight: 700

// блок nav-bar ( меню )

.nav-bar
    width: 1130px
    margin: 0 auto
    ul 
        display: grid
        grid-template-columns: 0.7fr 0.75fr 1fr 1.1fr 1.1fr 0.75fr
        li
            
            justify-items: center
            list-style: none
            a:hover 
                color: #7445a0
            a 
                text-decoration: none
                color: black
                width: 1055px
                height: 17px
                color: #555555
                font-family: "Noto Serif"
                font-size: 18px
                font-weight: 700
                line-height: 20px
                color: #555555

// slider (coomig soon)
// не работающий слайдер с одной картинкой 
// и не работабщими кнопками (
// блок arrow это кнопки на слайдере 
// блок box точки с низу слайдера показывающие позицию
// блок gift текст на слайдере

@media screen and (max-width: 1000px)
    .slider
        height: 352px
        overflow: hidden
        img                 
            background-size: contain
        .label
            position: absolute
            top: 580px
            left: 650px
        .left 
            border-radius: 50%
            height: 40px
            width: 40px
            background-color: $green
        
        .right 
            border-radius: 50%
            height: 40px
            width: 40px
            background-color: $green
            position: absolute
            top: 350px
            left: 1300px
            right: 0
        .gift
            position: absolute
            display: none

.slider
    height: 483px
    overflow: hidden
    img 
        width: 100%
        height: auto
        background-size: 1366px
        background-repeat: no-repeat
    .label
        position: absolute
        top: 580px
        left: 650px
        .box:hover
            background-color: #555555
        .box
            position: relative
            display: inline-block 
            background-color: #fff
            height: 10px
            width: 10px
            border-radius: 50%
    .left:hover
        background-color: #fff
        .arrow
            border-left: 2px solid $green
            border-top: 2px solid $green
    .left 
        border-radius: 50%
        height: 40px
        width: 40px
        background-color: $green
        position: absolute
        
        .arrow     
            position: relative 
            left: 15px
            top: 13px 
            border-left: 2px solid #fff
            border-top: 2px solid #fff
            height: 13px
            width: 13px
            transform: rotate(-45deg)

    .right:hover
        background-color: #fff
        .arrow
            border-right: 2px solid $green
            border-bottom: 2px solid $green
    .right 
        border-radius: 50%
        height: 40px
        width: 40px
        background-color: $green
        position: absolute
        top: 350px
        left: 1300px
        right: 0
        .arrow     
            position: relative 
            left: 10px
            top: 12px 
            border-right: 2px solid #fff
            border-bottom: 2px solid #fff
            height: 13px
            width: 13px
            transform: rotate(-45deg) 
    .box
        width: 7px
        height: 7px
    .gift
        padding: 26px  
        display: grid
        justify-items: center
        width: 400px
        height: 128px
        background-color: #7445a0
        opacity: 0.8
        position: absolute
        top: 55%
        left: 32%
      
        h2:first-child 
            padding-top: 5px
        h2
            padding: 0
            margin: 0
            color: #fff
            font-family: "Noto Serif"
        h1 
            margin: 0
            padding: 0
            color: #fff
            font-family: "Noto Serif"
            line-height: 60px

//блок advantages ( преимущевства )


    
.advantages
    .title
        p
            text-align: center
            color: #555555
            font-family: "Noto Serif"
            font-size: 48px
            font-weight: 700
    .advantages-wrapper
        display: grid
        grid-template-columns: repeat(4, 200px)
        grid-gap: 30px
        justify-content: center
        .item
            p 
                color: #555555
                font-family: Roboto
                font-size: 18px
                font-weight: 700
                line-height: 36px
                text-align: center
            img    
                height: 150px
                width: 150px

//блок sentence ( предложения )
//

.sentence
    .title
        p 
            text-align: center
            color: #555555
            font-family: "Noto Serif"
            font-size: 48px
            font-weight: 700
    .sentence-wrapper
        display: grid
        grid-template-columns: repeat(3, 449.5px)
        grid-template-rows: repeat(2, 281px)
        .item
            box-shadow: inset 0px -48px 110px #555555
            background-size: 100%
            .container:hover
                background-color: black
                opacity: .8
                overflow: hidden
                p
                    position: relative
                    left: -9999px
                    overflow: hidden
                span:first-child
                    font-size: 24px
                    margin-left: 100px
                    border-bottom: 2px solid #ffffff
                    color: #ffffff
                    margin-bottom: 5px
                    width: 75px
                span 
                    font-size: 18px
                    position: relative
                    left: 33px
                    top: -95px
                    span
                        margin-left: 40px
                        display: block       
            .container
                overflow: hidden
                height: 281px
                span 
                    position: relative
                    left: -9999px
                    color: #ffffff
                    font-family: Roboto
                    font-size: 16px
                    font-weight: 400
                    line-height: 24px
                p 
                    margin: 0
                    text-align: center
                    padding-top: 226px
                    height: 55px
                    color: #ffffff
                    font-family: "Noto Serif"
                    font-size: 30px
                    font-weight: 700
//header
@media screen and (max-width: 1000px)
    .header
        max-width: 882px 
        .position
            justify-items: right
            display: grid
            grid-template-columns: 160px
            grid-gap: 0px
            .location
                display: none
    .nav-bar
        max-width: 882px
//advanteges
@media screen and (max-width: 1000px)
    .advantages
        .title
        .advantages-wrapper
            grid-template-columns: repeat(4, 200px)
            .item
                p 
                    margin: 0
                    width: 200px
                    color: #555555
                    font-family: Roboto
                    font-size: 18px
                img    
                    height: 150px
                    width: 150px
//sentenc
@media screen and (max-width: 1000px)
    .sentence
        .sentence-wrapper
            display: grid
            grid-template-columns: repeat(2, 50%)
            grid-template-rows: repeat(3, 281px)
            .item
                .container:hover
                    p
                        position: relative
                        left: -9999px
                        overflow: hidden
                    span:first-child
                        font-size: 20px
                        margin-left: 100px
                        border-bottom: 2px solid #ffffff
                        color: #ffffff
                        margin-bottom: 5px
                        width: 65px
                    span 
                        font-size: 18px
                        position: relative
                        left: 33px
                        top: -95px
                        span
                            margin-left: 40px
                            display: block       
                .container
                    height: 281px
                    overflow: hidden
                    span 
                        position: relative
                        left: -9999px
                        color: #ffffff
                        font-family: Roboto
                        font-size: 16px
                        font-weight: 400
                        line-height: 24px
                p 
                    margin: 0
                    padding-top: 226px
                    text-align: center

                    height: 55px
                    color: #ffffff
                    font-family: "Noto Serif"
                    font-size: 30px
                    font-weight: 700
//запрос для about
@media screen and (max-width: 1000px)
    .about 
        max-width: 1000px
        .about-wrapper
            grid-template-columns: 400px 400px
            .img   
                background-size: 100%   
            .text 
                p 
                    font-size: 16px
//запрос для table
@media screen and (max-width: 1000px)
    .table
        .wrapper
            p 
                text-align: center
                margin: 0
                color: #555555
                font-family: Roboto
                font-size: 37px
                font-weight: 700
                text-transform: uppercase



// блок about ( о нас )

.about 
    max-width: 1366px
    height: 595px
    .about-wrapper
        margin-top: 95px
        height: 500px
        display: grid
        justify-content: center
        grid-gap: 80px
        grid-template-columns: 460px 520px
        .img   
            height: auto
            width: 460px
        .text 
            .title
                p
                    margin: 0
                    color: #555555
                    font-family: "Noto Serif"
                    font-size: 48px
                    font-weight: 700
            p 
                color: #555555
                font-family: Roboto
                font-size: 18px
                font-weight: 400
            .btn
                width: 220px
                height: 60px
                background-color: $green
                color: #ffffff
                text-decoration: none
                border: none
                border-radius: 5px

// блок info ( немного инфы и компании )

.info
    .info-wrapper
        height: 280px
        display: grid
        grid-template-columns: 250px 200px 240px
        grid-template-rows: 280px
        grid-gap: 100px 
        justify-content: center
        .item  
            padding-top: 50px
            h1 
                margin: 0
                text-align: center
                color: #7445a0
                font-family: "Noto Serif"
                font-size: 80px
                font-weight: 700
            p
                text-align: center
                color: #555555
                font-family: Roboto
                font-size: 24px
                font-weight: 700

//блок table ( блок с каринкой на фоне и текстом )

.table
    .wrapper
        height: 490px
    p 
        text-align: center
        margin: 0
        color: #555555
        font-family: Roboto
        font-size: 37px
        font-weight: 700
        text-transform: uppercase



//блок feed ( блок обратной связи )
//включает форму для заполнения и капча 

.feed
    .form-wrapper
        
        margin-top: 130px
        padding-right: 150px
        padding-top: 40px
        display: grid
        grid-template-columns: 555px
        grid-template-rows: 455px
        justify-content: right
        form 
            width: 555px
            height: 435px
            background-color: #7445a0
            opacity: 0.8
            padding-top: 20px
            h1 
                color: #fff
                margin: 0 40px 0 40px 
                
            input 
                margin: 0 40px 0 40px 
                margin-top: 15px
                border: 1px solid black
                border-radius: 2px 
                width: 475px
                height: 35px
            textarea
                margin: 0 40px 0 40px 
                margin-top: 15px
                border: 1px solid black
                border-radius: 2px
                width: 470px
                height: 100px
            .container
                margin-top: 15px
                width: 400px
                display: grid
                grid-template-columns: 10px 250px 155px
                justify-items: center
                margin-left: 40px
                grid-gap: 10px
                .btn
                    width: 155px
                    height: 45px
                    border: none
                    border-radius: 2px
                    background-color: $green
                    color: #fffefe
                    font-family: Roboto
                    font-size: 18px
                    font-weight: 400
                    line-height: 22px
                    margin-left: 80px
                input
                    color: #fff
                p 
                    margin: 0
                    width: 250px

//блок footer ( ?подвал? сайта )

footer 
    height: 200px
    background-color: #c8c8c8
    .wrapper
        padding-top: 45px
        display: grid
        grid-template-columns: 220px 120px 130px 260px
        justify-content: space-around
        .about-us
            .logo
                display: grid
                grid-template-columns: 50px 140px
                height: 45px
                span 
                    height: 45px    
                    img 
                        width: 45px
                        height: 45px                 
                p
                    padding: 7px
                    margin: 0
                    width: 130px
                    height: 23px
                    color: #1a9f29
                    font-family: $Noto
                    font-size: 30px
                    font-weight: 700
                    text-transform: uppercase
            ul 
                padding: 0
                margin: 0
                margin-top: 5px
                li 
                    list-style: none
                    color: #555555
                    a:last-child
                        text-decoration: underline
                    a 
                        text-decoration: none
                        color: #555555
        .nav-one
            ul 
                margin: 0
                padding: 0
                li 
                    list-style: none
                    a 
                        color: #555555
        .nav-two
            ul
                margin: 0
                padding: 0
                li 
                    list-style: none
                    a 
                        color: #555555
        .created-by
            display: grid
            grid-template-columns: 120px 40px 100px
            grid-template-rows: 50px
            p 
                width: 120px
                color: #555555
                margin: 0
            a 
                
            img 
                line-height: 1.5em


